# Challenge 3

In this challenge we will work on the `Orders.csv` data set in the previous [Subsetting and Descriptive Stats lab](../../lab-subsetting-and-descriptive-stats/your-code/main.ipynb). In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

# Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, import `Orders.csv` from the "subsetting" lab folder into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# enter your code here
orders = pd.read_csv("Orders.csv")
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [49]:
# your code here
amount = orders.groupby(['Country','CustomerID']).agg({'amount_spent':'sum'}).sort_values(by='amount_spent', ascending=False)
amount.head(3)

                           amount_spent
Country        CustomerID
Netherlands    14646          280206.02
United Kingdom 18102          259657.30
               17450          194550.79

In [22]:
amount_quantiles = amount.quantile([0,0.25,0.5,0.75,0.95,1])
amount_quantiles

      amount_spent
0.00         0.000
0.25       307.245
0.50       674.450
0.75      1661.640
0.95      5840.182
1.00    280206.020

In [18]:
len(amount)

4339

In [77]:
vips = amount[amount['amount_spent']>5840.182]
print(len(vips))
print(vips)

216
                           amount_spent
Country        CustomerID
Netherlands    14646          280206.02
United Kingdom 18102          259657.30
               17450          194550.79
               16446          168472.50
EIRE           14911          143825.06
...                                 ...
United Kingdom 14505            5905.64
               14415            5900.28
               14944            5900.25
               13209            5891.61
               13534            5870.08

[216 rows x 1 columns]

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

# Q2: How to identify which country has the most VIP Customers?

# Q3: How to identify which country has the most VIP+Preferred Customers combined?

Provide your solution for Q2 below:

In [75]:
orders.columns

Index(['Unnamed: 0', 'InvoiceNo', 'StockCode', 'year', 'month', 'day', 'hour',
       'Description', 'Quantity', 'InvoiceDate', 'UnitPrice', 'CustomerID',
       'Country', 'amount_spent'],
      dtype='object')

In [76]:
vip_countries = vips.groupby('Country').count().sort_values(by='amount_spent', ascending=False)
vip_countries

                 amount_spent
Country
United Kingdom            177
Germany                    10
France                      9
Switzerland                 3
Spain                       2
Portugal                    2
Japan                       2
EIRE                        2
Finland                     1
Channel Islands             1
Netherlands                 1
Norway                      1
Singapore                   1
Denmark                     1
Sweden                      1
Cyprus                      1
Australia                   1